<!-- Top Bar -->
<div id="top-nav" class="bar">
  <a href="http://www.axisphilly.org"><img class="logo" alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/axisphilly-logo-equal-height.png"></a>
  <form class="search top">
    <button class="small button radius nav-button find"><img src='img/search.png'> </button>
    <input placeholder="Search for an address">
  </form>
  <a href="#" class="small button radius nav-button find-user"><img src='img/marker.png'>Locate Me</a>
  <a href="#" class="small button radius nav-button info"><img src='img/info.png'>Info</a>
  <a href="#" class="small button radius nav-button embed"><img src='img/code.png'>Embed this map</a>
</div>
<div id="title-bar"><strong>Property Tax Changes</strong></div>

<!-- Map -->
<div id="map"></div>
<div class="description" id="desktop-description">
  <h2>Property Tax Changes</h2>
  <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/casey/" title="Posts by Casey Thomas" rel="author">Casey Thomas</a>, </span><span class="byline-date">Feb 15, 2013</span>, <a href="#" data-reveal-id="revision-history">Updated: Jun. 13, 2013</a></div>
  <p>Read more on our <a href="http://axisphilly.org/project/taxes/">Taxes project</a> page.</p>
  <p>Search for a specific address to zoom in on a neighborhood. Hover over a parcel to get more detailed information for that parcel.</p>
  <p>Note: Parcels that could not be matched to a tax record are not shown.</p>
</div>

<!-- Bottom bar -->
<div id="bottom-nav" class="bar">
  <form class="search bottom">
    <button class="small button radius nav-button find"><img src='img/search.png'> </button>
    <input placeholder="Search for an address">
  </form>
  <a href="#" class="small button radius nav-button find-user bottom"><img src='img/marker.png'>Locate Me</a>
  <a href="#" class="small button radius nav-button embed bottom"><img src='img/code.png'>Embed this map</a>
</div>