<div class="map-legend">
<div class="legend-title">Percent Change, 2013 vs 2014 Property Tax</div>
<div class="groups"><span class="decrease">Decrease</span><span class="increase">Increase</span></div>
<div class="legend-scale">
  <ul class="legend-labels">
    <li class="start decrease"><span style="background:#4393C3;"></span><em>-100%</em></li>
    <li class="decrease"><span style="background:#92C5DE;"></span><em>-50%</em></li>
    <li class="decrease"><span style="background:#bedef0;"></span><em>-10%</em></li>
    <li class="middle"><span class="middle" style="background:#E8E8E8;"></span></li>
    <li class="increase"><span style="background:#FEE0D2;"></span><em>10%</em></li>
    <li class="increase"><span style="background:#FCBBA1;"></span><em>50%</em></li>
    <li class="increase"><span style="background:#FC9272;"></span><em>100%</em></li>
    <li class="increase"><span style="background:#FB6A4A;"></span><em>200%</em></li>
    <li class="increase"><span style="background:#EF3B2C;"></span><em>400%</em></li>
    <li class="increase"><span style="background:#CB181D;"></span><em>600%</em></li>
    <li class="increase"><span style="background:#A50F15;"></span><em>800%</em></li>
    <li class="increase"><span style="background:#67000D;"></span><em>1000%</em></li>
  </ul>
</div>
</div>
</div>