<script type="text/javascript">
var tooltipTemplate = "{{#__location__}}{{/__location__}}{{#__teaser__}}<div id=\"tooltip\">" +

"<span class=\"address\">{{{address}}}</span>" +
"<span class=\"change\">Tax Change: {{{f_tax_change}}}</span>" +

"<div class=\"labels\">" +
"        <ul>" +
"          <li><br></li>" +
"          <li>Assessment</li>" +
"          <li>Improvement Value</li>" +
"          <li>Land Value</li>" +
"          <li>Exemption/Abatement</li>" +
"          <li>Homestead</li>" +
"          <li><strong>Tax</strong></li>" +
"        </ul>" +
"</div>" +

"<div class=\"ul-container\">" +
"<ul class=\"2013\">" +
"<li class=\"year\">2013</li>" +
"<li>{{{f_mktval_13}}}</li>" +
"<li>{{{f_abat_ex_13}}}</li>" +
"<li>{{{f_landval_13}}}</li>" +
"<li>{{{f_impval_13}}}</li>" +
"<li><br></li>" +
"<li>{{{f_tx_2013}}}</li>" +
"</ul>" +
"</div>" +

"<div class=\"ul-container\">" +
"<ul class=\"2013\">" +
"<li class=\"year\">2014</li>" +
"<li>{{{f_mktval_14}}}</li>" +
"<li>{{{f_abat_ex_14}}}</li>" +
"<li>{{{f_landval_14}}}</li>" +
"<li>{{{f_impval_14}}}</li>" +
"<li>{{{homestd_ex}}}</li>" +
"<li>{{{f_tx_2014}}}</li>" +

"</ul>" +
"</div>" +
"</div>" +
"{{/__teaser__}}" +
"{{#__full__}}<div id=\"tooltip\">" +

"<span class=\"address\">{{{address}}}</span>" +
"<span class=\"change\">Tax Change: {{{f_tax_change}}}</span>" +

"<div class=\"labels\">" +
"        <ul>" +
"          <li><br></li>" +
"          <li>Assessment</li>" +
"          <li>Improvement Value</li>" +
"          <li>Land Value</li>" +
"          <li>Exemption/Abatement</li>" +
"          <li>Homestead</li>" +
"          <li><strong>Tax</strong></li>" +
"        </ul>" +
"</div>" +

"<div class=\"ul-container\">" +
"<ul class=\"2013\">" +
"<li class=\"year\">2013</li>" +
"<li>{{{f_mktval_13}}}</li>" +
"<li>{{{f_abat_ex_13}}}</li>" +
"<li>{{{f_landval_13}}}</li>" +
"<li>{{{f_impval_13}}}</li>" +
"<li><br></li>" +
"<li>{{{f_tx_2013}}}</li>" +
"</ul>" +
"</div>" +

"<div class=\"ul-container\">" +
"<ul class=\"2013\">" +
"<li class=\"year\">2014</li>" +
"<li>{{{f_mktval_14}}}</li>" +
"<li>{{{f_abat_ex_14}}}</li>" +
"<li>{{{f_landval_14}}}</li>" +
"<li>{{{f_impval_14}}}</li>" +
"<li>{{{homestd_ex}}}</li>" +
"<li>{{{f_tx_2014}}}</li>" +

"</ul>" +
"</div>" +
"</div>" +
"{{/__full__}}"
</script>